#navbar {
	width:741px;
}

#navbar #holder{
	
	height:80px;
	border-bottom:1px solid #000;
	width:741px;
	padding-left:25px;
}

#navbar #holder ul {
	
	list-style:none;
	margin:0;
	padding:0;
}
#navbar #holder ul li a{
	text-decoration:none;
	float:left;
	margin-right:5px;
	font-family:"Arial Black",sans-serif;
	color:#000;
	border:1px solid #000;
	border-bottom:none;
	padding:20px;
	width:200px;
	text-align:center;
	display:block;
	background:#69F;
	-webkit-border-top-right-radius:15px;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	
}

#navbar #holder ul li a:hover {
	
	background:#F90;
	color:#FFF;
	
}

#holder ul li a#onlink{
	background:#FFF;
	color:#000;
	border-bottom:1px solid #FFF;
}

#holder ul li a#onlink:hover{
	
	background:#FFF;
	color:#69F;
	
}